body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  width: 60%;
  margin: 10px auto;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 36rem;
  width: 100%;
}

.form-control label {
  width: 20%;
  padding-right: 4px;
  margin-bottom: 5px;
}

.form-control input {
  padding: 4px;
  width: 16rem;
}

.form-control input[type="text"],
.form-control input[type="password"] {
  width: 40%;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }

  .errorMsg {
    max-width: 100%;
  }

  .form-control {
    flex-direction: column;
  }

  .form-control input[type="text"] {
    width: inherit;
  }
}

.form-control input[type="checkbox"] {
  width: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.list {
  border: 1px solid #fff;
  padding: 5px;
}

.pagination {
  display: flex;
  border: 1px solid #fff;
  justify-content: right;
  padding: 20px;
  padding-right: 0px;
}

.pagination-button {
  padding: 6px;
  margin: 0px 4px 4px 4px;
  border: 1px solid black;
  border-radius: 3px;
}

.action-button,
.add-button {
  border: 1px solid black;
  border-radius: 3px;
}

.action-button:active,
.add-button:active,
.pagination-button:active {
  background: black;
  color: #fff;
  border: 1px solid #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: lightgray;
}

th,
td {
  border: 1px solid black;
  padding: 0px 8px;
  width: 25%;
}

th:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 16px 16px 16px 0px;
}

form {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.add-button {
  order: 1px solid black;
  border-radius: 3px;
  height: 1.8rem;
}

input[name="name"] {
  width: 16rem;
  padding: 6px;
}

.no-task {
  color: #fff;
  background-color: lightcoral;
  border-radius: 3px;
  border: 1px solid red;
  padding: 12px;
}

.action-button-container {
  display: flex;
 
  gap: 5px;
}
